{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center text-uppercase my-4">INSCRIPTION</h1>
    {{  form(form)  }}


{% endblock %}

{% block title %}
    {{  parent()  }}Inscription
{% endblock %}

